@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Terasong';
    font-style: normal;
    font-weight: 400;
    src: local('Terasong'), url("../fonts/Terasong.ttf");
}

